<h1><%= @cat.name %></h1>

<table>
  <% [:age, :birth_date, :color, :sex].each do |attr_name| %>
    <tr>
      <td><%= attr_name %></td>
      <td><%= @cat.send(attr_name) %></td>
    </tr>
  <% end %>
</table>

<h2>Rental Requests</h2>
<ul>
  <% @cat.rental_requests.order("start_date").each do |req| %>
    <li><%= req.start_date %> -- <%= req.end_date %></li>
  <% end %>
</ul>